/BaseFileOpencv.py
/haar
/LESSON 10 Homework.py
/LESSON 10 Processing Mouse Clicks and Events in OpenCV.py
/LESSON 11 Creating and Using Trackbars in OpenCV.py
/LESSON 11 Homework.py
/LESSON 12 Understanding the HSV Color Space.py
/LESSON 13 Tracking an Object Based on Color in OpenCV.py
/LESSON 7.py
/LESSON 8, Putting Text, Rectangles and Circles on Images.py
/LESSON 9 Homework.py
/LESSON 9 Understanding Region of Interest (ROI) in OpenCV copy.py
/LESSON 9 Understanding Region of Interest (ROI) in OpenCV.py
/photo.jfif